<a href="https://colab.research.google.com/github/superklex/Hamoye-externship/blob/master/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import math

In [12]:
#loading the cellphones dataset
cell_url = "https://raw.githubusercontent.com/superklex/Hamoye-externship/master/cellphones.csv"
cell = pd.read_csv(cell_url)

In [13]:
#loading the population dataset
pop_url ="https://raw.githubusercontent.com/superklex/Hamoye-externship/master/population.csv"
population = pd.read_csv(pop_url)

In [15]:
#new dataframe from the merging cellphone and population dataframe
cell_pop = cell.merge(population, how ="inner", on =["Country", "year"])

In [16]:
#verifying the shape of the merged datataframe
cell_pop.shape

(11640, 4)

In [17]:
#loading the geo_country dataset
geo_url ="https://raw.githubusercontent.com/superklex/Hamoye-externship/master/geo_country.csv"
geo_country = pd.read_csv(geo_url)

In [18]:
#renaming columns and verifying
geo_country.rename(columns={"country": "geo", "name": "Country"}, inplace = True)
geo_country.columns

Index(['geo', 'g77_and_oecd_countries', 'income_3groups', 'income_groups',
       'is--country', 'iso3166_1_alpha2', 'iso3166_1_alpha3',
       'iso3166_1_numeric', 'iso3166_2', 'landlocked', 'latitude', 'longitude',
       'main_religion_2008', 'Country', 'un_sdg_ldc', 'un_sdg_region',
       'un_state', 'unicef_region', 'unicode_region_subtag', 'world_4region',
       'world_6region'],
      dtype='object')

In [19]:
#adding columns to the "new" dataframe
new = pd.merge(cell_pop, geo_country[["geo", "Country"]], how="left")
new.head

<bound method NDFrame.head of            Country  year  cell_phones_total  population  geo
0      Afghanistan  1960                0.0     9000000  afg
1      Afghanistan  1961                0.0     9170000  afg
2      Afghanistan  1962                0.0     9350000  afg
3      Afghanistan  1963                0.0     9540000  afg
4      Afghanistan  1964                0.0     9740000  afg
...            ...   ...                ...         ...  ...
11635     Zimbabwe  2015         12800000.0    13800000  zwe
11636     Zimbabwe  2016         12900000.0    14000000  zwe
11637     Zimbabwe  2017         14100000.0    14200000  zwe
11638     Zimbabwe  2018         12900000.0    14400000  zwe
11639     Zimbabwe  2019         13200000.0    14600000  zwe

[11640 rows x 5 columns]>

In [20]:
#adding a new column that shows the average cellphone per person
new["cell_phone_per-person"] = new["cell_phones_total"]/new["population"]
new.head

<bound method NDFrame.head of            Country  year  ...  geo  cell_phone_per-person
0      Afghanistan  1960  ...  afg               0.000000
1      Afghanistan  1961  ...  afg               0.000000
2      Afghanistan  1962  ...  afg               0.000000
3      Afghanistan  1963  ...  afg               0.000000
4      Afghanistan  1964  ...  afg               0.000000
...            ...   ...  ...  ...                    ...
11635     Zimbabwe  2015  ...  zwe               0.927536
11636     Zimbabwe  2016  ...  zwe               0.921429
11637     Zimbabwe  2017  ...  zwe               0.992958
11638     Zimbabwe  2018  ...  zwe               0.895833
11639     Zimbabwe  2019  ...  zwe               0.904110

[11640 rows x 6 columns]>

In [21]:
#verifying the number of cellphone per person in United States for 2017
new.loc[(new['Country'] == "United States") & (new["year"] == 2017 )]

             Country  year  ...  geo  cell_phone_per-person
11157  United States  2017  ...  usa               1.230769

[1 rows x 6 columns]

In [22]:
#making the geocodes uppercase
new["geo"] = new["geo"].str.upper()

In [23]:
#describing the dataframe
new.describe()

               year  cell_phones_total    population  cell_phone_per-person
count  11640.000000       1.164000e+04  1.164000e+04           11640.000000
mean    1989.500000       7.875722e+06  2.710307e+07               0.235536
std       17.318846       5.572496e+07  1.086187e+08               0.433303
min     1960.000000       0.000000e+00  4.380000e+03               0.000000
25%     1974.750000       0.000000e+00  1.117500e+06               0.000000
50%     1989.500000       0.000000e+00  5.100000e+06               0.000000
75%     2004.250000       5.615000e+05  1.590000e+07               0.233667
max     2019.000000       1.730000e+09  1.430000e+09               2.126068

In [24]:
#check for unique countries
new["Country"].nunique()

194

In [25]:
#getting top 5 countries with the most cell phones total
top5= new.loc[new['year'] == 2017]
highest = top5.nlargest(5, ['cell_phones_total']).drop(["year", "population", "geo", "cell_phone_per-person"], axis = 1) 
highest['cell_phones_total'] = highest['cell_phones_total'].astype('int64') 
highest

             Country  cell_phones_total
2157           China         1470000000
4617           India         1170000000
4677       Indonesia          435000000
11157  United States          400000000
8577          Russia          227000000