<a href="https://colab.research.google.com/github/superklex/Hamoye-externship/blob/master/Data_visualization_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''
Data visualization is simply trying to understand data by placing it in a visual 
context, so hidden patterns, trends and correlations can be detected
'''

'\nData visualization is simply trying to understand data by placing it in a visual \ncontext, so hidden patterns, trends and correlations can be detected\n'

In [12]:
import pandas as pd
pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns", 1000)
pd.set_option("display.width", 1000)
temporal_url = "https://raw.githubusercontent.com/superklex/my_datasets/master/Copy%20of%20temporal.csv"
temporal = pd.read_csv(temporal_url)

In [9]:
temporal.head()

          Mes  data science  machine learning  deep learning  categorical
0  2004-01-01            12                18              4            1
1  2004-02-01            12                21              2            1
2  2004-03-01             9                21              2            1
3  2004-04-01            10                16              4            1
4  2004-05-01             7                14              3            1

In [10]:
temporal.describe()

       data science  machine learning  deep learning  categorical
count    194.000000        194.000000     194.000000   194.000000
mean      20.953608         27.396907      24.231959     0.257732
std       23.951006         28.091490      34.476887     0.438517
min        4.000000          7.000000       1.000000     0.000000
25%        6.000000          9.000000       2.000000     0.000000
50%        8.000000         13.000000       3.000000     0.000000
75%       26.750000         31.500000      34.000000     1.000000
max      100.000000        100.000000     100.000000     1.000000

In [11]:
#info to show the type of data in each column
temporal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Mes               194 non-null    object
 1   data science      194 non-null    int64
 2   machine learning  194 non-null    int64
 3   deep learning     194 non-null    int64
 4   categorical       194 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.7+ KB

In [17]:
#highlight the maximum or minimum in every column wrt to the date
temporal.head().style.format(temporal["Mes"]).highlight_max(color= "green")