<a href="https://colab.research.google.com/github/superklex/Hamoye-externship/blob/master/Introduction_to_python_for_machine_learning_graded_quiz_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 15000)
pd.set_option('display.notebook_repr_html', True)

In [2]:
fuel_url= "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
df = pd.read_csv(fuel_url)

In [3]:
#Question 1
A =[1,2,3,4,5,6]
B= [13,21,34]
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [4]:
#Question 2 
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [5]:
#Question 3
AverageFuelCostBurned = df.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean()
Asc_avg_fuel_cost_burned = AverageFuelCostBurned.sort_values(ascending=True)
Asc_avg_fuel_cost_burned.head

<bound method NDFrame.head of fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64>

In [6]:
#Question 4

df.describe()

       utility_id_ferc1   report_year  fuel_qty_burned  fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
count      29523.000000  29523.000000     2.952300e+04         29523.000000               29523.000000                  2.952300e+04         29523.000000
mean         118.601836   2005.806050     2.622119e+06             8.492111                 208.649031                  9.175704e+02            19.304354
std           74.178353      7.025483     9.118004e+06            10.600220                2854.490090                  6.877593e+04          2091.540939
min            1.000000   1994.000000     1.000000e+00             0.000001                -276.080000                 -8.749370e+02           -41.501000
25%           55.000000   2000.000000     1.381700e+04             1.024000                   5.207000                  3.778500e+00             1.940000
50%          122.000000   2006.000000     2.533220e+05             5.762694                  26.000000                  1.737100e+01             4.127000
75%          176.000000   2012.000000     1.424034e+06            17.006000                  47.113000                  4.213700e+01             7.745000
max          514.000000   2018.000000     5.558942e+08           341.260000              139358.000000                  7.964521e+06        359278.000000

In [7]:
#Question 5
round(df["fuel_qty_burned"].skew(), 2)

15.85

In [8]:
round(df["fuel_qty_burned"].kurt(), 2)

651.37

In [26]:
#Question 6
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [29]:
df['fuel_unit'].count()

29343

In [37]:
round((180/29343)*100, 5)

0.61343

In [10]:
#Question 7

In [11]:
#Question 8
df.corr()

                              utility_id_ferc1  report_year  fuel_qty_burned  fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000     0.093323        -0.057447            -0.066946                  -0.037863                     -0.016414             0.006122
report_year                           0.093323     1.000000         0.012952            -0.110853                   0.013599                     -0.014043             0.010261
fuel_qty_burned                      -0.057447     0.012952         1.000000            -0.080946                  -0.018535                     -0.003551            -0.001896
fuel_mmbtu_per_unit                  -0.066946    -0.110853        -0.080946             1.000000                  -0.010034                     -0.009039            -0.005884
fuel_cost_per_unit_burned            -0.037863     0.013599        -0.018535            -0.010034                   1.000000                      0.011007            -0.000437
fuel_cost_per_unit_delivered         -0.016414    -0.014043        -0.003551            -0.009039                   0.011007                      1.000000            -0.000109
fuel_cost_per_mmbtu                   0.006122     0.010261        -0.001896            -0.005884                  -0.000437                     -0.000109             1.000000

In [17]:
#Question 9
df[df["fuel_type_code_pudl"] == "coal"].groupby("report_year")["fuel_cost_per_unit_burned"].mean()

report_year
1994     31.546467
1995     30.677442
1996     29.454299
1997    104.897309
1998     27.616234
1999     38.361101
2000    249.203055
2001     41.622623
2002     27.623988
2003     94.085441
2004     29.913239
2005     34.281426
2006     37.928697
2007     39.288397
2008     44.507292
2009    142.805197
2010    280.467547
2011     52.634721
2012     53.657789
2013     55.093312
2014     52.244736
2015     49.769534
2016     46.447385
2017     45.983336
2018     44.967758
Name: fuel_cost_per_unit_burned, dtype: float64

In [25]:
#((1994-1998)/1994)*
PercentDifference = ((31.546467-27.616234)/27.616234)*100
print(round(PercentDifference))

14

In [16]:
#Question 10
AverageFuelCostPerUnit = df.groupby("report_year")["fuel_cost_per_unit_delivered"].mean()
highest = AverageFuelCostPerUnit.sort_values(ascending=False)
print(highest)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64